{% verbatim %}
<div ui-content-for="title">
    <span>{{ 'translate-admin-index' | translate }}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <div ng-class="{loading: loading}">
            <div ng-show="loading_langs" class="app-content-loading">
                Loading<i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
        </div>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button class="btn btn-success" ng-click="addLangKey()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <button class="btn btn-info" ng-click="loadLangs()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>

                <button class="btn btn-warning" ng-click="langPublish()">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group col-xs-6" role="group">
                <div class="input-group">
                    <select class="form-control" ng-model="translate.currentLang"
                            ng-change="langChange(translate.currentLang.key)"
                            ng-options="lang as lang.key for lang in translate.langs">
                        <option value=""
                                ng-if="!translate.currentLang">{{ 'translate-admin-select-default' | translate }}</option>
                    </select>

                    <div class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <table ng-show="translate.langKeys" class="table table-striped table-hover table-condensed">
            <thead style="font-weight: bold">
            <tr>
                <td style="width:40%">Key</td>
                <td style="width:35%">Value</td>
                <td style="width:15%">Edit</td>
                <td style="width:10%">
                    <button class="btn btn-success btn-sm" ng-click="addLangKey()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="translation in translate.langKeys">
                <td>
                    <span editable-text="translation.key"
                          e-ng-disabled="translateLangKeyFormEditableKey || translateLangKeyForm.$waiting"
                          e-name="key" e-form="translateLangKeyForm" onshow="editCheck(translation)"
                          e-required ng-minlength=2>
                        {{ translation.key || ('translate-edit-empty' | translate) }}
                    </span>
                </td>
                <td>
                    <span editable-text="translation.value" e-placeholder="Translation"
                          e-name="value" e-form="translateLangKeyForm"
                          e-required>
                        {{ translation.value || ('translate-edit-empty' | translate) }}
                    </span>
                </td>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->
                    <form editable-form name="translateLangKeyForm"
                          onbeforesave="saveLangKey($data, translation, $index)"
                          ng-show="translateLangKeyForm.$visible" class="form-buttons form-inline"
                          shown="inserted == translation">
                        <button type="submit" ng-disabled="translateLangKeyForm.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="translateLangKeyForm.$waiting"
                                ng-click="translateLangKeyForm.$cancel()"
                                class="btn btn-default"> cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!translateLangKeyForm.$visible">
                        <button class="btn btn-primary" ng-click="translateLangKeyForm.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteLangKey($index)">del</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

{% endverbatim %}

<div ui-content-for="modals">
</div>