<!-- Controller: formFilling -->
<div ng-controller="formFillingPage">
    <h3>
        <i class="glyphicon glyphicon-blackboard"></i>
        <small>{{currentPage.number}}</small>
        {{currentPage.title}}
        <div class="btn-group btn-group-sm pull-right">
            <button ng-click="saveFields()"
                    ng-class="{'disabled': protocol.readOnly}"
                    type="button" class="btn btn-success">Save
            </button>
            <button ng-class="{'btn-primary': showFieldDetails}"
                    ng-click="toggleShowFieldDetails()"
                    type="button" class="btn">
                <i ng-class="{'glyphicon-eye-open': showFieldDetails, 'glyphicon-eye-close': !showFieldDetails}"
                   class="glyphicon"></i>
            </button>
            <button ng-click="toggleReadOnly()"
                    ng-class="{'btn-info': protocol.readOnly === true}"
                    type="button"
                    class="btn">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </h3>
    <div ng-include="currentPage.url"></div>
</div>