<!-- Controller: formFillingPage -->
<div ng-controller="formFillingPageField"
     ng-show="dependenciesSatisfied()"
     class="form-group">
    <label>{{ ::'form-' + $parent.protocol.data.form.name + '-field-' + field.name | translate}}
        <small ng-show="isValueUpdated(fieldValue, field)">
            <i ng-class="{'text-success': savingForm, 'text-warning': !savingForm}"
               class="glyphicon glyphicon-floppy-disk"></i>
            <i ng-show="savingForm" class="glyphicon glyphicon-cloud-upload text-primary"></i>
        </small>
    </label>

    <div ng-transclude></div>
    <p ng-if="showFieldDetails && fieldValue" class="help-block">
        {{fieldValue.last_updated | date : 'medium'}} <strong>{{fieldValue.value}}</strong>
    </p>
</div>