<!-- Controller: formFillingPage -->
<div ng-controller="formFillingPageField"
     ng-show="checkDependenciesSatisfied()"
     class="form-group">
    <label>{{ ::'form-' + protocol.data.form.name + '-field-' + field.name | translate}}
        <small ng-show="isValueUpdated(fieldValue, field)">
            <i ng-class="{'text-success': savingForm, 'text-warning': !savingForm}"
               class="glyphicon glyphicon-floppy-disk"></i>
            <i ng-show="savingForm" class="glyphicon glyphicon-cloud-upload text-primary"></i>
        </small>
    </label>

    <div ng-if="isReadOnly() === false">
        <mefi-transclude ng-hide="freeTextEnabled"></mefi-transclude>
    </div>

    <div ng-if="freeTextEnabled && !protocol.readOnly">
        <div class="input-group merged">
            <div class="input-group-btn">
                <button class="btn btn-warning" ng-click="clearCurrentValue()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <input ng-model="field.value"
                   ng-model-options="{ debounce: 300 }"
                   focus-on="event:form-fieldFreeTextEnabled"
                   class="form-control">
        </div>
    </div>

    <blockquote ng-if="protocol.readOnly">
        <p ng-bind-html="field | fieldHumanValue"></p>
    </blockquote>
    <div ng-if="showFieldDetails && fieldValue.hasOwnProperty('value')">
        <p class="help-block">
            {{fieldValue.last_updated | date : 'medium'}} <strong>{{fieldValue.value}}</strong>
        </p>
    </div>
</div>