<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="glyphicon glyphicon-file feature-icon text-primary"></i>
                    {{ protocol.data.form.name }}
                </h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <div class="alert alert-success text-center" role="alert">
                    <h2>
                        <i class="glyphicon glyphicon-barcode"></i>
                        {{ protocol.data.id}}
                    </h2>

                    <p class="label label-info">{{ protocol.data.created_at | date : 'short' }}</p>
                </div>
                <div ng-controller="formFillingUser">
                    <div class="input-group merged">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>

                        <input type="text" class="form-control"
                               required
                               ng-model="newUser">

                        <div class="input-group-btn">
                            <button class="btn btn-info"
                                    ng-disabled=""
                                    ng-click="addUser(newUser)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li ng-repeat="user in protocol.data.user">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-warning"
                                            ng-click="removeUser(user.username)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary">{{user.username}}</button>
                                </div>
                            </li>
                            <li ng-repeat="user in protocol.data.non_user">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-warning"
                                            ng-click="removeUser(user.username)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-default">{{user.username}}</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="center-block">
                    <nav>
                        <ul class="pagination pagination-lg">
                            <li ng-disabled="true">
                                <a aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a ng-click="toPage(1)">1</a></li>
                            <li><a ng-click="toPage(2)">2</a></li>
                            <li ng-disabled="true">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="pager">
                            <li><a href="#">Index</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>