<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="glyphicon glyphicon-file feature-icon text-primary"></i>
                    {{ ::protocol.data.form.name }}
                </h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <div class="alert alert-success text-center" role="alert">
                    <h2>
                        <i class="glyphicon glyphicon-barcode"></i>
                        {{ ::protocol.data.id}}
                    </h2>

                    <p class="label label-info">{{ ::protocol.data.created_at | date : 'short' }}</p>
                </div>
                <div ng-controller="formFillingUser">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <form name="formProtocolNewUser" ng-submit="addUser(newUser)">
                                <div class="input-group merged has-feedback">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </div>
                                    <input type="text" class="form-control"
                                           tabindex="1"
                                           required
                                           ng-disabled="loading"
                                           ng-model="newUser">

                                    <div class="input-group-btn">
                                        <button class="btn btn-info"
                                                tabindex="2"
                                                ng-disabled="loading"
                                                type="submit">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{'protocol-table-name' | translate}}</th>
                                <th>{{'protocol-table-created-at' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in protocol.data.user">
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-warning"
                                            ng-click="removeUser(user.username)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </th>
                                <td><strong>{{::user.username}}</strong></td>
                                <td>{{::user.created_at | date:'short'}}</td>
                            </tr>
                            <tr ng-repeat="user in protocol.data.non_user">
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-warning"
                                            ng-click="removeUser(user.username)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </th>
                                <td>{{::user.username}}</td>
                                <td>{{::user.created_at | date : 'short'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-controller="formFillingComment">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <form name="formProtocolNewComment" ng-submit="addComment()">
                                <textarea class="form-control"
                                          rows="3"
                                          tabindex="3"
                                          required
                                          ng-disabled="loading"
                                          ng-model="newComment">
                                </textarea>
                                <span class="input-group-addon btn btn-info"
                                      tabindex="4"
                                      ng-disabled="loading"
                                      ng-click="addComment()"
                                      type="submit">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </span>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{'protocol-comment-created-at' | translate}}</th>
                                <th>{{'protocol-comment' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="comment in protocol.data.comment | orderBy:'-created_at'  ">
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-warning"
                                            ng-click="removeComment(comment.id)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </th>
                                <td>{{::comment.body}}</td>
                                <td>{{::comment.created_at | date : 'short'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="center-block">
                    <nav>
                        <ul class="pagination pagination-lg">
                            <li ng-disabled="true">
                                <a aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a ng-click="toPage(1)">1</a></li>
                            <li><a ng-click="toPage(2)">2</a></li>
                            <li ng-disabled="true">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="pager">
                            <li><a href="#">Index</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>