<div ng-controller="formFillingComment">
    <div class="panel panel-info">
        <div class="panel-heading">
            <form ng-hide="protocol.readOnly" name="formProtocolNewComment" ng-submit="addComment()">
                <text-angular
                        ng-model="newComment"
                        ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['quote','insertLink']]">
                </text-angular>
                <div class="btn btn-info btn-block"
                      tabindex="4"
                      ng-disabled="loading"
                      ng-click="addComment()"
                      type="submit">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
            </form>
            <span ng-if="protocol.readOnly">{{'form-filling-page-comments' | translate}}</span>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{'protocol-comment' | translate}}</th>
                <th>{{'protocol-comment-created-at' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in protocol.data.comment | orderBy:'-created_at'">
                <th scope="row">
                    <button type="button" class="btn btn-sm btn-warning"
                            ng-click="removeComment(comment.id)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </th>
                <td ng-bind-html="comment.body"></td>
                <td>{{::comment.created_at | date : 'short'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>