<div class="panel panel-info" ng-controller="formFillingConclusion">
    <div class="panel-heading">
        <text-angular-toolbar
                name="textFormat"
                ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough']]"></text-angular-toolbar>
        <text-angular-toolbar
                name="textTools"
                ta-toolbar="[['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],['html', 'insertLink']]"></text-angular-toolbar>
    </div>
    <div class="panel-body">
        <text-angular
                ng-model="protocol.data.conclusion"
                ta-target-toolbars='textFormat,textTools'>
        </text-angular>
        <div class="btn btn-success btn-block"
             tabindex="4"
             ng-disabled="loading"
             ng-click="saveConclusion()"
             type="submit">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
</div>
