<div ng-controller="formFillingUpload">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'form-filling-upload-title' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div ng-file-drop ng-file-select ng-model="files" class="upload-drop-box"
                 drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                 accept="image/*,application/pdf">{{'form-filling-upload-drop' | translate}}
            </div>
            <div ng-no-file-drop>
                <div class="btn btn-primary" ng-file-select ng-model="files" ng-multiple="true">Select File</div>
            </div>
            <hr>
            <div class="text-center">
                <button ng-file-select
                        class="btn btn-success btn-lg"
                        ng-model="files"
                        ng-capture="'camera'"
                        accept="'image/*'"
                        ng-accept="'image/*'">
                    <i class="glyphicon glyphicon-camera"></i>
                </button>
            </div>
        </div>
        <div class="panel-footer">
            <ul class="list-unstyled">
                <li ng-repeat="f in files">
                    <div class="progress">
                        <div role="progressbar"
                             class="progress-bar progress-bar-info"
                             ng-class="{'progress-bar-danger': f.error}"
                             style="width: {{f.progress}}%">
                            {{((f.error) ? 'upload-try-again' : 'upload-success') | translate}} {{f.name}} ({{f.size |
                            bytes}})
                            <span class="sr-only">{{f.progress}}%</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default" ng-hide="protocol.data.file.length == 0">
        <div>

        </div>
        <div class="panel-body">
            <ui-switch ng-model='showThumbs'></ui-switch>
            <div class="list-group" ng-repeat="file in protocol.data.file | orderBy:'-upload_date'">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <button class="btn btn-danger btn-sm"
                                ng-click="deleteFile(file.id)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <a class="btn btn-primary btn-sm"
                           ng-href="{{downloadUrl(file.id)}}" target="_blank">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                        {{::file.filename}}
                    </h4>
                    <p class="list-group-item-text">{{file.upload_date | date:'short'}} : {{file.mime_type}} : <strong>{{::file.length
                        | bytes}}</strong></p>

                    <div class="media">
                        <div class="pull-left" ng-if="showThumbs && file.mime_type.startsWith('image')">
                            <a ng-click='showImage(file)'>
                                <img class="media-object" ng-src="/form/protocol/files/get/{{::file.id}}"
                                     style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" editable-text="file.title" onaftersave="updateFile(file, 'title')">
                                    {{ file.title || 'empty title' }}
                                </a>
                            </h4>
                            <a href="#" editable-textarea="file.description" onaftersave="updateFile(file, 'desc')">
                                <pre>{{ file.description || 'click-to-edit' | translate }}</pre>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-content-for="modals">
        <div class="modal modal-overlay" ui-if='modalImage' ui-state='modalImage'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            <span>{{ ::modal.data.title || 'form-protocol-image' | translate }}</span>
                            <button ui-turn-off="modalImage"
                                    class="btn btn-default pull-right">{{ 'modal-close' | translate }}
                            </button>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <pre ng-show="modal.data.description">{{::modal.data.description}}</pre>
                        <img class="media-object" ng-src="/form/protocol/files/get/{{::modal.data.id}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>