<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="fa fa-archive feature-icon text-primary"></i> Logs</h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div class="media-body">
                    <div class="input-group">

                        <div class="input-group-btn">
                            <button class="btn btn-info"
                                    ng-click="dateReverse = !dateReverse">
                                Date
                                <i class="glyphicon"
                                   ng-class="{'glyphicon-chevron-up': dateReverse, 'glyphicon-chevron-down': !dateReverse}">
                                </i>
                            </button>
                            <button class="btn btn-default"
                                    ng-click="urlReverse = !urlReverse">
                                Url
                                <i class="glyphicon"
                                   ng-class="{'glyphicon-chevron-up': urlReverse, 'glyphicon-chevron-down': !urlReverse}">
                                </i>
                            </button>
                        </div>

                        <input type="text" class="form-control" ng-model="searchInfo">

                        <div class="input-group-addon bg-success">
                            <strong>{{ loadingList.history | counter }}</strong>
                        </div>
                        <div class="input-group-addon bg-warning">
                            <strong>{{ loadingList.history | counter:false }}</strong>
                        </div>
                        <div class="input-group-addon bg-primary">
                            <strong>{{ loadingList.history.length}}</strong>
                        </div>
                    </div>
                </div>
                <hr>
                <div ng-repeat="list in loadingList.history| orderBy:'config.loadingStart':dateReverse | orderBy:'config.url':urlReverse | filter:searchInfo"
                     ng-click="opened = (opened) ? false : true"
                     ng-class="{'dropup': opened}">
                    <span class="caret"></span>
                    <span>{{ ::list.config.loadingStart | date:'H:mm:ss sss' }}</span>
                    <span class="label label-info">{{ ms = (list.config.loadingEnd - list.config.loadingStart) }}ms</span>
                    <span ng-class="{'text-success': list.config.success, 'text-danger': !list.config.success}"
                          ng-bind-html="list.config.url | highlight:searchInfo">
                        {{ ::list.config.url}}
                    </span>
                    <pre ng-if="opened">{{ ::list | json}}</pre>
                </div>
            </div>
        </div>

    </div>
</div>