<div class="scrollable">  
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="fa fa-archive feature-icon text-primary"></i> Logs</h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div class="media-body">
                    <div class="btn-group">
                        <div 
                            class="btn btn-info" 
                            ng-click="datePredicate = 'config.loadingStart';
                                dateReverse = !dateReverse">
                            Date 
                            <i 
                                class="glyphicon" 
                                ng-class="{'glyphicon-chevron-up': dateReverse, 'glyphicon-chevron-down': !dateReverse}">
                            </i>
                        </div>
                        <div class="btn btn-default" ng-click="urlPredicate = 'config.url';
                            reverse = !reverse">Url <i class="glyphicon" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i></div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div ng-repeat="list in loadingList.history| orderBy:datePredicate:dateReverse | orderBy:urlPredicate:reverse" ng-click="opened = (opened) ? false : true">
                        <span>{{ list.config.loadingStart | date:'mediumTime' }}</span>
                        <span class="label label-info">{{ ms = list.config.loadingEnd - list.config.loadingStart}}ms</span>
                        <span  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-class="{' text-success': list.config.success, 'text-danger': !list.config.success}">{{list.config.url}}</span>
                        <pre ng-if="opened">
                            {{ list | json}}
                        </pre>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
