<div class="scrollable">
    <h1 class="scrollable-header app-name">sammui</h1>

    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/login">Login<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/view1">View 1<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/view2">View 2<i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>