<div ui-content-for="title">
    <span>Login Form</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form" ng-submit='getSalt()'>
            <fieldset>
                <legend>Please enter a symfony valid user:</legend>

                <p ng-show="salt"><strong>{{ username }}</strong> salt is <em>{{ salt }}</em></p>
                <p ng-show="secret"><strong>{{ username }}</strong> generated secret is <em>{{ secret }}</em></p>
                <p ng-show="secret">You should now have access to API because your're logged in</p>

                <div class="form-group has-success has-feedback">
                    <label>Symfony Username</label>
                    <input type="text   "
                           ng-model="username"
                           class="form-control"
                           placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                           class="form-control"
                           placeholder="Password">
                </div>

                <div class="form-group">
                    <label>Remember Me</label>
                    <ui-switch
                            ng-model='rememberMe'></ui-switch>
                </div>
            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block">
                Login
            </button>

            <div ui-content-for="navbarAction">
                <a class='btn' ng-click='getSalt()'>Login</a>
            </div>

        </form>
    </div>
</div>