<div ui-content-for="title">
    <span>{{ 'login-index' | translate }}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <div ng-show="currentUser.username">
            {{'login-welcome' | translate}} <strong>{{currentUser.username}}</strong>!
            {{'login-welcome-logout' | translate}} <a ng-click="logout()">Logout</a>
        </div>

        <div>
            <button ng-show="currentUser.username" class="btn btn-block btn-large btn-primary">
                <span class="glyphicon glyphicon-off"></span> Logout
            </button>
        </div>

        <form ng-show="!currentUser.username" name="oauth-login" ng-submit="login()" ng-controller="oAuthLogin"
              class="form-login">
            <fieldset>
                <legend>{{ 'login-form-legend' | translate }}</legend>

                <div class="form-group has-success has-feedback">
                    <label>{{ 'login-form-username' | translate }}</label>
                    <input type="text"
                           name="username"
                           ng-model="username" required
                           class="form-control"
                           placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label>{{ 'login-form-password' | translate }}</label>
                    <input type="password"
                           name="password"
                           ng-model="password" required
                           class="form-control"
                           placeholder="Password">
                </div>
            </fieldset>

            <hr>

            <input class="btn btn-primary btn-block" type="submit" value="login">

        </form>

        <hr>
        <!--Debug Login-->
        <div>
            <div>
                <button ng-click="Ui.turnOn('modalLoginInfo')" class="btn btn-block btn-large btn-warning">
                    <span class="glyphicon glyphicon-info-sign"></span> Info
                </button>
            </div>

            <div ui-content-for="modals">
                <div class="modal modal-overlay" ui-if='modalLoginInfo' ui-state='modalLoginInfo'>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p ng-repeat="(info, value) in currentUser">
                                    <strong>{{ info | translate }}</strong>
                                <span class="badge badge-info">
                                    <span ng-show="!value" class="glyphicon glyphicon-remove"></span>
                                    <span ng-show="value" class="glyphicon glyphicon-ok"></span>
                                </span>
                                    <span>{{ value | json }}</span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button ui-turn-off="modalLoginInfo"
                                        class="btn btn-default">{{ 'modal-close' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>