<div ui-content-for="title">
    <span>{{ 'login-index' | translate }}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <p>
        <pre>{{ currentUser | json }}</pre>
        </p>

        <form role="form" ng-submit='getSalt()' class="form-login">
            <fieldset>
                <legend>Please enter a symfony valid user:</legend>

                <p ng-show="user.salt"><strong>{{ user.username }}</strong> salt is <em>{{ user.salt }}</em></p>

                <p ng-show="user.secret"><strong>{{ user.username }}</strong> generated secret is
                    <em>{{ user.secret }}</em></p>

                <p ng-show="user.secret">You should now have access to API because your're logged in</p>

                <div class="form-group has-success has-feedback">
                    <label>Symfony Username</label>
                    <input type="text"
                           ng-model="user.username" required
                           class="form-control"
                           placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                           ng-model="user.password" required
                           class="form-control"
                           placeholder="Password">
                </div>

                <div class="form-group">
                    <label>Remember Me</label>
                    <ui-switch
                            ng-model='rememberMe'></ui-switch>
                </div>
            </fieldset>

            <hr>

            <input class="btn btn-primary btn-block" type="submit" value="login">

        </form>
    </div>
</div>