<div class="modal" ui-if='modalError' ui-state='modalError'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" ui-turn-off="modalError">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span ng-show="error">
                        {{ error.status }}: <b>{{ error.statusText }}</b>
                    </span>
                    <span ng-show="!error">
                        {{ 'modal-error-title' | translate }}
                    </span>
                </h4>
            </div>
            <div class="modal-body bg-danger">
                <p ng-show="error.message">{{ error.message | translate  }}</p>
                <p ng-show="error.data.message"><strong>{{ 'modal-error-server-message' | translate }}: </strong>
                    {{ error.data.message  }}</p>

                <p ng-show="!error.message">{{ 'modal-error-unknown' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="modalError" class="btn btn-default">{{ 'modal-error-close' | translate }}</button>
            </div>
        </div>
    </div>
</div>
