<!-- Controller: formStart -->
<div ui-content-for="title">
    {{ 'form-admin-protocols-title' | translate }}
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="glyphicon glyphicon-cog feature-icon text-primary"></i>
                    {{ 'form-admin-start-choose' | translate }}
                </h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{form.name | translate}}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                {{form.name}}
                            </li>
                            <li class="list-group-item list-group-item-info">
                                {{form.id}}
                            </li>
                            <li class="list-group-item list-group-item-success">
                                {{form.created_at | date:'medium'}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{form.pages.length}}</span>
                                {{'form-admin-info-pages' | translate}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{form.fields.length}}</span>
                                {{'form-admin-info-fields' | translate}}
                            </li>
                            <li class="list-group-item">
                                <div ng-click="formDetails = (formDetails) ? false : true"
                                     class="btn btn-primary">
                                    <i ng-class="{'glyphicon-plus': !formDetails, 'glyphicon-minus': formDetails}"
                                       class="glyphicon"></i>
                                </div>
                                <pre ng-if="formDetails">{{form | json}}</pre>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div class="media-body">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th><i class="glyphicon glyphicon-barcode"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="protocol in protocols | orderBy:'-created_at'">
                            <td>
                                <div class="btn-group">
                                    <button ng-click="protocolDetailsModal(protocol.id)"
                                            type="button" class="btn btn-default">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </button>
                                    <a ng-href="{{readProtocol(protocol.id)}}"
                                       type="button" class="btn btn-warning" target="_blank">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                </div>
                            </td>
                            <td>{{protocol.created_at | date : 'medium'}}</td>
                            <td>{{protocol.id}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if='modalProtocolDetails' ui-state='modalProtocolDetails'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close"
                            ui-turn-off="modalProtocolDetails">&times;</button>
                    <h4 class="modal-title">{{'form-protocol-details' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-success"><i class="fa fa-barcode"></i> <strong>{{::protocol.id}}</strong></p>

                    <p class="text-success">{{protocol.form.name | translate}} <strong>{{::protocol.form.name}}</strong>
                    </p>

                    <p class="text-success">
                        {{'form-protocol-created_at' | translate}}
                        <strong>{{protocol.created_at | date:'medium'}}</strong>
                    </p>

                    <p class="text-primary">
                        {{'form-protocol-first_save_date' | translate}}
                        <strong>{{protocol.first_save_date | date:'medium'}}</strong>
                    </p>

                    <p class="text-primary">
                        {{'form-protocol-last_save_date' | translate}}
                        <strong>{{protocol.last_save_date | date:'medium'}}</strong>
                    </p>

                    <p ng-if="protocol.publish.length > 0" class="text-warning">
                        <strong>
                            {{'form-protocol-published-' + ((protocol.publish[0].locked) ? 'true' : 'false') | translate}}
                        </strong>
                        {{protocol.publish[0].created_at | date:'medium'}}
                    </p>

                    <p ng-if="protocol.publish.length === 0" class="text-warning">
                        <strong>
                            {{'form-protocol-published-' + ((protocol.publish[0].locked === true) ? 'true' : 'false') | translate}}
                        </strong>
                        {{protocol.publish[0].created_at | date:'medium'}}
                    </p>

                    <hr>

                    <div class="btn-group">
                        <a ng-href="{{readProtocol(protocol.id)}}"
                           type="button" class="btn btn-default" target="_blank">
                            <i class="fa fa-eye fa-2x"></i>
                        </a>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-file-pdf-o fa-2x"></i> PDF
                        </button>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-file-excel-o fa-2x"></i> Table
                        </button>
                    </div>
                    <div class="btn-group">
                        <button ng-click="lockProtocol(!protocol.isLocked)" type="button" class="btn btn-warning">
                            <i ng-class="{'fa-lock': !protocol.isLocked, 'fa-unlock': protocol.isLocked}"
                               class="fa fa-2x"></i>
                            {{'form-protocol-' + ((!protocol.isLocked) ? 'lock' : 'unlock') | translate}}
                        </button>
                    </div>

                    <hr>

                    <p>
                        {{'form-protocol-field_values' | translate}}
                        <strong>{{protocol.field_values.length}}/{{protocol.form.fields.length}}</strong>
                    </p>

                    <hr>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Non-User</th>
                            <th>Comments</th>
                            <th>Uploads</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{protocol.user.length}}</td>
                            <td>{{protocol.non_user.length}}</td>
                            <td>{{protocol.comment.length}}</td>
                            <td>{{protocol.file.length}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button ui-turn-off="modalProtocolDetails" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>