<!-- Controller: formStart -->
<div ui-content-for="title">
    {{ 'form-admin-protocols-title' | translate }}
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="glyphicon glyphicon-cog feature-icon text-primary"></i>
                    {{ 'form-admin-start-choose' | translate }}
                </h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div class="media-body">
                    Protocols
                </div>
            </div>
        </div>
    </div>
</div>