<div class="scrollable">
    <h1 class="scrollable-header app-name">{{ 'sidebar-right-title' | translate }}</h1>

    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarRight'>
            <a class="list-group-item" ng-href="#/l10n/admin">
                <i class="fa fa-chevron-left pull-left"></i> Translation
            </a>
            <a class="list-group-item" ng-href="#/admin/logs">
                <i class="fa fa-chevron-left pull-left"></i> logs
            </a>
            <a class="list-group-item" ng-href="#/users">
                <i class="fa fa-chevron-left pull-left"></i> Users
            </a>
        </div>
        
    </div>
</div>
